<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="true" />

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> <!-- for legacy support -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" /> <!-- for legacy support -->

    <!-- Required for resolveActivity() method -->
    <queries>
        <intent>
            <action android:name="android.media.action.IMAGE_CAPTURE" />
        </intent>
        <intent>
            <action android:name="android.intent.action.GET_CONTENT" />
        </intent>
        <intent>
            <action android:name="android.intent.action.SET_ALARM" />
        </intent>
    </queries>

    <application
        android:name=".AndroidFundamentalsApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Androidfundamentals"
        tools:targetApi="31">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".topics.t9_architectures.mvp.MVPActivity"
            android:exported="false"
            android:theme="@style/Theme.Androidfundamentals" />
        <activity
            android:name=".topics.t9_architectures.ArchitecturesActivity"
            android:exported="false" />
        <activity
            android:name=".topics.t9_architectures.mvc.MVCActivity"
            android:exported="false" />
        <activity
            android:name=".topics.t3_architecturecomponents.s2_viewmodels.ex2.SavedStateHandleActivity"
            android:exported="false" />
        <activity
            android:name=".topics.t8_coroutinesflow.usecases.flow.usecase2.FlowUseCase2Activity"
            android:exported="false" />
        <activity
            android:name=".topics.t8_coroutinesflow.usecases.flow.usecase1.FlowUseCase1Activity"
            android:exported="false" />
        <activity
            android:name=".topics.t8_coroutinesflow.usecases.coroutines.usecase7.CalculationInBackgroundActivity"
            android:exported="false" />
        <activity
            android:name=".topics.t8_coroutinesflow.usecases.coroutines.usecase6.RoomAndCoroutineActivity"
            android:exported="false" />
        <activity
            android:name=".topics.t8_coroutinesflow.usecases.coroutines.usecase5.TimeoutWithRetriesActivity"
            android:exported="false" />
        <activity
            android:name=".topics.t8_coroutinesflow.usecases.coroutines.usecase4.TimeoutAndRetryActivity"
            android:exported="false" />
        <activity
            android:name=".topics.t8_coroutinesflow.usecases.coroutines.usecase3.PerformConcurrentNetworkRequestsActivity"
            android:exported="false" />
        <activity
            android:name=".topics.t8_coroutinesflow.usecases.coroutines.usecase2.SequentialNetworkRequestsActivity"
            android:exported="false" />
        <activity
            android:name=".topics.t8_coroutinesflow.usecases.coroutines.usecase2.rx.SequentialNetworkRequestsRxActivity"
            android:exported="false" />
        <activity
            android:name=".topics.t8_coroutinesflow.usecases.coroutines.usecase2.callbacks.SequentialNetworkRequestsCallbacksActivity"
            android:exported="false" />
        <activity
            android:name=".topics.t8_coroutinesflow.usecases.coroutines.usecase1.PerformSingleNetworkRequestActivity"
            android:exported="false" />
        <activity
            android:name=".topics.t8_coroutinesflow.base.CoroutineUseCaseActivity"
            android:exported="false" />
        <activity
            android:name=".topics.t3_architecturecomponents.s4_coroutinescopes.CoroutineScopesActivity"
            android:exported="false" />
        <activity
            android:name=".topics.t8_coroutinesflow.CoroutinesActivity"
            android:exported="false" />
        <activity
            android:name=".topics.t4_appcomponents.AppComponentsActivity"
            android:exported="false" />
        <activity
            android:name=".topics.t3_architecturecomponents.s3_livedata.NameActivity"
            android:exported="false" />
        <activity
            android:name=".topics.t3_architecturecomponents.s2_viewmodels.ex1.DiceRollActivity"
            android:exported="false" />
        <activity
            android:name=".topics.t3_architecturecomponents.s1_lifecycle.withoutlifecyclecomponent.WithoutLifeCycleComponentActivity"
            android:exported="false" />
        <activity
            android:name=".topics.t3_architecturecomponents.s1_lifecycle.withlifecyclecomponent.LifecycleActivity"
            android:exported="false" />
        <activity
            android:name=".topics.t2_appnavigation.s1_fragments.fragmentprogrammatic.FragmentHostManualActivity"
            android:exported="false" />
        <activity
            android:name=".topics.t2_appnavigation.s1_fragments.fragmentxmlauto.FragmentHostActivity"
            android:exported="false" />
        <activity
            android:name=".topics.t2_appnavigation.s2_viewpager.HostingActivity"
            android:exported="false" />
        <activity
            android:name=".topics.t5_intents.RedirectionIntentsActivity"
            android:exported="false" />
        <activity
            android:name=".topics.t7_storagetypes.storagetypes.StorageTypesActivity"
            android:exported="false" />
        <activity
            android:name=".topics.t5_intents.CommonIntentsActivity"
            android:exported="false" />
        <activity
            android:name=".topics.t5_intents.IntentResultActivity"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <data android:mimeType="text/plain" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".topics.t5_intents.IntentActivity"
            android:exported="false" />
        <activity
            android:name=".topics.t2_appentrypoints.s2_passdatabetweenactivities.ResultProducingActivity"
            android:exported="false" />
        <activity
            android:name=".topics.t2_appentrypoints.s2_passdatabetweenactivities.ResultActivity"
            android:exported="false" />
        <activity
            android:name=".topics.t6_viewlayouts.s1_recyclerview.RecyclerViewExActivity"
            android:exported="false" />
        <activity
            android:name=".topics.t2_appentrypoints.s1_savedinstancestate.SavedInstanceStateActivity"
            android:exported="false" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.rm.android_fundamentals.FileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>